/********/
/*COLORS*/
/********/
$primary: #827dcf;
$secondary: #f1f1f1;
$white: #FFFFFF;
$gap: 10px;
$radius: 10px;
$avatar_size: 40px;
$height-header: 60px;
$height-box-message: 90px;

/*********/
/*FONTS*/
/*********/
$primary-font: 'Roboto', sans-serif;